/* Header
----------*/

div#header {
  position:relative;
  margin:0 0 30px 0;
  padding:20px 0 0 0;
  color:#fff;
  background:#e74c3c;
}

div#header a,
form#search-block-form input[type="submit"]:hover {
  -webit-transition:all 250ms ease-in-out;
  -moz-transition:all 250ms ease-in-out;
  -ms-transition:all 250ms ease-in-out;
  -o-transition:all 250ms ease-in-out;
  transition:all 250ms ease-in-out;
}

a#logo {
  position:absolute;
  top:30px;
  float:left;
  margin:0 3.0303%;
  width:18%;
}

form#search-block-form {
  float:right;
  margin:0;
  padding:0 3.0303% 0 10px;
}
form#search-block-form div.form-item {
  float:left;
  margin:0 5px 0 0;
}
form#search-block-form div.form-item label {
  position:absolute;
  top:-888em;
}
form#search-block-form input[type="text"] {
  padding:5px 10px;
  margin:0 10px 0 0;
  border:0;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  border-radius:15px;
}
form#search-block-form input[type="submit"] {
  width:30px;
  height:30px;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  border-radius:15px;
  background:#fff url('../images/icon-header-search.png') no-repeat;
  text-indent:-999em;
}
form#search-block-form input[type="submit"]:hover {
  background-color:#f39c12;
}

ul#social {
  float:right;
  margin:0;
  padding:0;
  list-style:none;
}
ul#social li {
  display:inline-block;
  padding:0 5px;
}
ul#social li a {
  display:inline-block;
  width:30px;
  height:30px;
  background:#fff;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  border-radius:15px;
}
ul#social li a:hover {
  background-color:#f39c12;
}

nav#navbar {
  position:relative;
  top:12px;
  clear:right;
  float:right;
  margin:0;
  padding:24px 3.0303% 0 3.0303%;
}
nav#navbar ul {
  margin:0;
  padding:0;
  line-height:20px;
  font-size:16px;
  font-family:'Montserrat',sans-serif;
  text-transform:uppercase;
}
nav#navbar ul li {
  float:left;
  margin:0 10px 0 0;
  padding:5px;
  list-style:none;
}
nav#navbar ul li.last {
  margin-right:0;
}
nav#navbar ul li.active-trail {
}
nav#navbar ul li a {
  float:left;
  padding:0 0 20px 0;
  color:#fff;
  border-bottom:7px solid #fff;
}
nav#navbar ul li.active-trail a,
nav#navbar ul li a:hover {
  border-color:#f39c12;
}
nav#navbar ul li.first a {
}
nav#navbar ul li.first a:hover {
}

div.mobile-button-wrapper {
  display:none;
  height:30px;
}
span.mobile-button {
  float:right;
  width:30px;
  height:30px;
  padding:10px;
  cursor:pointer;
}
span.mobile-button:hover {
  background-color:#f39c12;
}
